
{% extends "base.html" %}
{% load static i18n %}
{% block content %}
<div class="content-wrapper">
  <!-- ROW ENDS -->
  <div class="row">
    <div class="col-lg-12 grid-margin">
      <div class="card performance-cards">
        <div class="card-body">
          <div class="row">
            <div class="col d-flex flex-row justify-content-center align-items-center">
              <div class="wrapper icon-circle bg-success">
                <i class="icon-rocket icons"></i>
              </div>
              <div class="wrapper text-wrapper">
                <p class="text-dark"></p>
                <p>Usuarios</p>
              </div>
            </div>
            <div class="col d-flex flex-row justify-content-center align-items-center">
              <div class="wrapper icon-circle bg-warning">
                <i class="icon-umbrella icons"></i>
              </div>
              <div class="wrapper text-wrapper">
                <p class="text-dark">6521</p>
                <p>Pacientes</p>
              </div>
            </div>
            <div class="col d-flex flex-row justify-content-center align-items-center">
              <div class="wrapper icon-circle bg-primary">
                <i class="icon-check icons"></i>
              </div>
              <div class="wrapper text-wrapper">
                <p class="text-dark">325</p>
                <p>Medicos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ROW ENDS -->
  <!-- ROW ENDS -->
  <div class="row">
      <div class="col-lg-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Usuarios</h2>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Paciente</th>
                    <th>Altura</th>
                    <th>Peso</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in object_list %}
                  <tr>
                      <td>{{ record.patient }} </td>
                      <td>{{ record.height }} </td>
                      <td>{{ record.weight }} </td>
                      <td>
                      <a href="{% url 'medrecords:medrecord_update' pk=record.pk %}">
                        <button type="button" class="btn btn-success">
                          <i class="mdi mdi-cloud-download"></i>Editar</button>
                      </a>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleterecord">
                          Eliminar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="deleterecord" tabindex="-1" role="dialog" aria-labelledby="deleterecordLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleterecordLabel">Eliminar ficha</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                ¿Quiere eliminar la ficha del paciente {{record.patient}}?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <form method="post" action="{% url 'medrecords:medrecord_delete' pk=record.pk %}">{% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Confirmar" />
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                  {% empty %}
                      <li>Aun no hay fichas ingresadas al sistema.</li>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap">
              <a class="btn btn-primary"  href="{% url 'medrecords:medrecord_form' %}" role="button">Agregar Ficha</a>

              <nav>
                <ul class="pagination rounded-separated pagination-info mt-3">
                  {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="mdi mdi-chevron-left"></i></a></li>
                  {% endif %}

                  <li class="page-item active"><a class="page-link" href="#"> Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                    </a></li>

                  {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="mdi mdi-chevron-right"></i></a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- ROW ENDS -->
</div>
{% endblock content %}
